%section.value-pillar-section
  .container
    %h2.main-heading.text-center The leading integrated product for the entire software development lifecycle.

    .value-pillar-group
      .value-pillar
        .value-pillar-media.hidden-xs
          = partial "images/home/pillar-create.svg"
        .value-pillar-body
          %h3.pillar-title Focus on creating not integrating
          %p.pillar-description 
            Stop wasting time on integrating different tools by switching to an integrated product that automates the whole software development life cycle (SDLC). One installation, one upgrade, one authorization layer, one single source of truth. Instead of re-inventing the wheel, leverage the experience of the 100,000 organizations that use GitLab to have best-in-class SDLC automation.

      .value-pillar
        .value-pillar-media.hidden-xs
          = partial "images/home/pillar-success.svg"
        .value-pillar-body
          %h3.pillar-title Improve developer effectiveness and happiness
          %p.pillar-description 
            By giving developers one user interface and a completely automated process to build, test, and deploy projects, they can be more effective. Auto DevOps helps you adopt DevOps, Microservices, and Kubernetes quickly.

      .value-pillar
        .value-pillar-media.hidden-xs
          = partial "images/home/pillar-speed.svg"
        .value-pillar-body
          %h3.pillar-title Deliver value faster
          %p.pillar-description 
            Shorten feedback cycles with out-of-the-box automation and cycle analytics. GitLab is the only product with one datastore to follow the process from idea to measuring the effect of the deployed software. Every improvement starts with measurement.

      .value-pillar
        .value-pillar-media.hidden-xs
          = partial "images/home/pillar-scale.svg"
        .value-pillar-body
          %h3.pillar-title Scale without limits
          %p.pillar-description 
            Scales to support hundreds of thousands of users, millions of projects, terabytes of data, and geographically dispersed teams. With GitLab Geo you can have fast download speeds wherever your developers are. Scales all the way from a Raspberry Pi to high availability clusters.
