---
layout: job_page
title: "Vice President of Product"
---

## Individual responsibility

- Make sure you have a great product team (recruit and hire, sense of progress, promote proactively, identify underperformance)
- Work on the vision with the CEO and communicate this vision internally and externally
- The CTO has a final say on all features, the [CEO will also be involved in many decisions](http://www.bhorowitz.com/why_founders_fail_the_product_ceo_paradox).
- Make sure the vision advances in every release and communicate this (for example with a demo video)
- Make sure the vision demo script is up to date and train everyone to give the demo
- Communicate our vision though giving demo's, conference speaking, blogging, and giving interviews
- Successful completion of a [background check](/handbook/people-operations/#background-checks).


## Team responsibility

- Ensure that the next milestone contains the most relevant items to customers, users, and us
- Work with customers, users, and other teams to make feature proposals actionable and small
- Make sure the [comparisons](https://about.gitlab.com/comparison/) are up to date
- Keep [/direction](/direction) up to date as our high level roadmap
- Regularly join customer and partner visits that can lead to new features
- Ensure that we translate user demands in features that make them happy but keep the product UI clean and the codebase maintainable
- Make sure the release announcements are attractive and cover everything
- Be present on social media (hacker news, twitter, stack overflow, mailinglist), espacially around releases

## Links

- [Product Handbook](/handbook/product)
- [Engineering Workflow](/handbook/engineering/workflow)


<%= partial "includes/apply_and_about" %>
