{
  "numbeo": <%= data.numbeo.to_json %>,
  "marketAdjustments": <%= data.hotmarkets.to_json %>,
  "contractTypes": <%= data.contract_types.to_json %>,
  "countryFactors": <%= data.country_factors.to_json %>
}
