:markdown

  ### Product Manager, Growth

  Get more people to use and contribute to GitLab, mainly the Community Edition (CE).
  Marketing gets us awareness and downloads. Your goal is to ensure people downloading
  our product keep using it, invite others, and contribute back. You report to the VP of Product.
  This person is technically strong and able to contribute themselves (i.e. knows Rails).

  As a Product Manager, Growth, you will plan and execute on improvements in GitLab related to growth,
  write specs and create wireframes to communicate your plans, ship improvements every
  month and make it possible to report on those improvements, do data analysis whenever
  useful, assist the rest of the team with topics related to growth, and build and expand
  tools related to growth (version.gitlab.com and others).

  To be successful in this role, you should have a deep understanding of UX and UI.
  You've built web applications before in Ruby on Rails (be it personal or professional).
  You're pragmatic and willing to code yourself. You're able to independently find, report,
  and solve issues and opportunities related to growth in the product. And you're able to
  make wireframes and write clear, concrete product specifications.

  #### Goals

  1. Conversion of download to 30 day active (install success * retention)
  1. Growth of existing CE installations
  (growth of comments measured with usage ping)
  1. Growth in the number of new people that contributed merged code

  #### Possible improvements

  1. Auto install let's encrypt
  1. Check open to new users by default
  1. Check invite by email function
  1. Usage ping for CE
  1. Ensure installers are very simple
  1. First 60 seconds with a product
  1. Measure contributors like a SaaS funnel (activation, retention)
  1. Improve data for Usage ping EE
  1. Improve zero-states of project (hints on first action)
  1. New feature show-off / highlighting
  1. Great experience when not logged in (commenting)
  1. Great experience when not a project member (edit button works)
  1. Make it easier to configure email
  1. Make it easier to configure LDAP

  #### You'll work with

  * Other PM's
  * Developers (implement some things self, some with help of experts)
  * Community team
  * Issue triage specialists
  * Merge request coaches
