---
layout: markdown_page
title: "Product Vision 2018"
---

- TOC
{:toc}

This page describes the Product Vision for 2018. Internally, we're intending on
implementing everything in here before the 2018 summit, currently scheduled for
Aug 23, 2018. Of course that's incredibly aggressive, so as a customer or
prospect, please don't count on that date. Some of these might only get to a
minimal, or even just a demoable state by then.

Stages are based on the [DevOps
Toolchain](https://en.wikipedia.org/wiki/DevOps_toolchain). Also see our [blog
post](/2017/10/11/from-dev-to-devops) on the Complete DevOps vision. Or see the
[open issues for `Product Vision 2018`](https://gitlab.com/groups/gitlab-org/-/issues?label_name%5B%5D=Product+Vision+2018).

![DevOps Lifecycle](devops-loop.png)

## Plan

### Chat

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> [Mattermost](https://docs.gitlab.com/omnibus/gitlab-mattermost/) <kbd>CE</kbd>

### Issue Tracker

<%= product_vision["issues"] %>

### Issue Board

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> [Issue board](https://docs.gitlab.com/ee/user/project/issue_board.html) <kbd>CE</kbd>

### Portfolio Management

<%= product_vision["portfolio management"] %>

## Create

### Version Control

<%= product_vision["repository"] %>

### Code Review

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> [Merge request](https://docs.gitlab.com/ee/user/project/merge_requests/) <kbd>CE</kbd><br>
<%= product_vision["code review"] %>

### IDE

<%= product_vision["web ide"] %>

## Verify

### CI

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> [Code Quality](https://docs.gitlab.com/ee/user/project/merge_requests/code_quality_diff.html) <kbd>EEP</kbd><br>
<%= product_vision["ci"] %>

### Security Testing

<%= product_vision["security testing"] %>

## Package

### Container Registry

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> [Container Registry](https://docs.gitlab.com/ee/user/project/container_registry.html) <kbd>CE</kbd><br>

### Binary Repository

<%= product_vision["artifacts"] %>

## Release

### CD / Release Automation

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> [Environments](https://docs.gitlab.com/ee/ci/environments.html) <kbd>CE</kbd><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> [Deployment history](https://docs.gitlab.com/ce/ci/environments.html#viewing-the-deployment-history-of-an-environment) <kbd>CE</kbd><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> [Deploy boards](https://docs.gitlab.com/ee/user/project/deploy_boards.html) <kbd>EEP</kbd><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> [Canary deployments](https://docs.gitlab.com/ee/user/project/canary_deployments.html) <kbd>EEP</kbd><br>
<%= product_vision["devops:release"] %>

## Configure

### Application Control Panel

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> [Secret variables](https://docs.gitlab.com/ee/ci/variables/#secret-variables) <kbd>CE</kbd><br>
<%= product_vision["application control panel"] %>

### Infrastructure Configuration

<%= product_vision["infrastructure configuration"] %>

### Operations

<%= product_vision["operations"] %>

### Feature Flags

<%= product_vision["feature flags"] %>

### ChatOps

<%= product_vision["slash commands"] %>

## Monitor

### Application Performance Monitoring (APM)

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> [Prometheus monitoring](https://docs.gitlab.com/ce/ci/environments.html#monitoring-environments) <kbd>CE</kbd><br>
<%= product_vision["application performance monitoring"] %>

### Production Monitoring

<%= product_vision["production monitoring"] %>

### Error Tracking

<%= product_vision["error tracking"] %>

### Logging

<%= product_vision["logging"] %>

### Cycle Analytics

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> [Cycle Analytics](https://docs.gitlab.com/ee/user/project/cycle_analytics.html) <kbd>CE</kbd><br>

### Conversational Development Index

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i> [Conversational Development Index](https://docs.gitlab.com/ce/user/admin_area/monitoring/convdev.html) <kbd>CE</kbd><br>

## Performance

*Not a stage, but part of our 2018 plan*

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-square-o" aria-hidden="true"></i> Push to Geo secondary (proxied to primary) <kbd>EEP</kbd><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-square-o" aria-hidden="true"></i> Automatic DR <kbd>EEP</kbd><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-square-o" aria-hidden="true"></i> Improve speed index https://about.gitlab.com/handbook/engineering/performance/#speed-index <kbd>CE</kbd><br>
<%= product_vision["performance"] %>

## Install

*Not a stage, but part of our 2018 plan*

### Omnibus

<%= product_vision["omnibus"] %><%= product_vision["Build"] %>

### Cloud Native Installation

<%= product_vision["Cloud Native"] %>
